<div class="row form_background">
	<div class="span6 offset2">
		<div id='expense_detail_base_currency_id' style="visibility: hidden"><%= @expense.user.company.currency_id %></div>
		<% if action_name == "new" || action_name == "create" %>
			<% url = expense_expense_details_path(@expense.id) %>
			<% html = {method: :post, class: "form-horizontal"} %>
		<% else %>
			<% url = expense_detail_path(@expense_detail.id) %>
			<% html = {method: :put, class: "form-horizontal"} %>
		<% end %>
		<%= form_for(@expense_detail, url: url, html: html) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field control-group">
			<%= f.label :expense_id, "Expense:", class: "control-label" %>
			<div class="controls">
				<%= text_field_tag :expense_id, @expense.purpose, class: "input-large", readonly: true %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :expense_type_id, "Expense Type:", class: "control-label" %>
			<div class="controls">
				<% company_id = f.object.expense.user.company_id %>
				<% vendor_id  = Company.vendor_id %>
				<%= f.collection_select(:expense_type_id, ExpenseType.where("company_id IN (#{vendor_id}, #{company_id})"), :id, :name, {prompt: true}, {disabled: read_only}) %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :date, "Date:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :date, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :currency_id, "Currency:", class: "control-label" %>
			<div class="controls">
				<%= f.collection_select(:currency_id, Currency.all, :id, :code_and_name, {prompt: true}, {disabled: read_only}) %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :amount, "Amount:", class: "control-label" %>
			<div class="controls">
				<%= f.number_field :amount, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :exchange_rate, "Exchange Rate:", class: "control-label" %>
			<div class="controls">
				<%= f.number_field :exchange_rate, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :total_amount, "Total amount:", class: "control-label" %>
			<div class="controls">
				<%= number_field_tag 'expense_detail_total_amount', @expense_detail.amount * @expense_detail.exchange_rate, readonly: true %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :comments, "Comments:", class: "control-label" %>
			<div class="controls">
				<%= f.text_area :comments, :rows => 4, class: "input-large", readonly: read_only  %>
  			</div>
  		</div>
		<br />
		<br />
		<% if !read_only %>
			<div class="form-actions center">
				<%= f.submit class: "btn btn-primary" %>
			</div>
		<% end %>
		<% end %>
	</div>
</div>