<h1>Replace Expense Owner</h1>

<div class="row form_background">
	<div class="span6 offset2">
		<%= form_for(@replace_expense_owner, html: { class: "form-horizontal"}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field control-group">
			<%= f.label :company_id, "Company:", class: "control-label" %>
			<div class="controls">
				<% if current_user.vendor_admin? %>
					<%= f.collection_select(:company_id, Company.all, :id, :name, {prompt: true}) %>
				<% else %>
					<%= f.collection_select(:company_id, Company.where("id=?", current_user.company.id), :id, :name, {prompt: true}) %>
				<% end %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :from_user_id , "From User:", class: "control-label" %>
			<div class="controls">
				<%= f.grouped_collection_select(:from_user_id, Company.all, :users, :name, :id, :name, {prompt: true} ) %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :to_user_id , "To User:", class: "control-label" %>
			<div class="controls">
				<%= f.grouped_collection_select(:to_user_id, Company.all, :users, :name, :id, :name, {prompt: true} ) %>
			</div>
		</div>
		<div class="form-actions center">
			<%= f.submit "Replace Expense Owner", class: "btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>