<div class="row form_background">
	<div class="span6 offset2">
		<%= form_for(@expense_type, html: { class: "form-horizontal"}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field control-group">
			<%= f.label :name, "Name:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :name, maxlength: 30, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :company_id, "Company:", class: "control-label" %>
			<div class="controls">
				<%= f.collection_select(:company_id, Company.all, :id, :name, {}, {disabled: true}) %>
			</div>
		</div>
		<% if !read_only %>
		<div class="form-actions center">
			<%= f.submit class: "btn btn-primary" %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>
