<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @expense_type.name %>
</p>

<p>
  <b>Company:</b>
  <%= @expense_type.company_id %>
</p>


<%= link_to 'Edit', edit_expense_type_path(@expense_type) %> |
<%= link_to 'Back', expense_types_path %>
