<div class="row form_background">
	<div class="span6 offset2">
		<%= form_for(@user, html: { class: "form-horizontal"}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field control-group">
			<%= f.label :company_id, "Company:", class: "control-label" %>
			<div class="controls">
				<% if current_user.vendor_admin? %>
					<%= f.collection_select(:company_id, Company.all, :id, :name, {prompt: true}, {disabled: read_only}) %>
				<% else %>
					<%= f.collection_select(:company_id, Company.where({id: current_user.company.id}), :id, :name, {prompt: true}, {disabled: read_only}) %>
				<% end %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :name, "Name:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :name , maxlength: 30, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :manager_id , "Manager:", class: "control-label" %>
			<div class="controls">
					<%= f.grouped_collection_select(:manager_id, Company.all, :users, :name, :id, :name, {prompt: true}, {disabled: read_only} ) %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :phone, "Phone:", class: "control-label" %>
			<div class="controls">
				<%= f.phone_field :phone, maxlength: 20, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :email , "Email:", class: "control-label" %>
			<div class="controls">
				<%= f.email_field :email, maxlength: 40, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :user_type_id, "User Type:", class: "control-label" %>
			<div class="controls">
				<% if current_user.vendor_admin? %>
					<%= f.collection_select(:user_type_id, UserType.all, :id, :name, {prompt: true}, {disabled: read_only}) %>
				<% elsif current_user.company_admin? %>
					<%= f.collection_select(:user_type_id, UserType.where("id != ?", UserType.vendor_admin_id), :id, :name, {prompt: true}, {disabled: read_only}) %>
				<% else %>
					<%= f.collection_select(:user_type_id, UserType.all, :id, :name, {prompt: true}, {disabled: true}) %>
				<% end %>
			</div>
		</div>
		<br />
		<br />
		<% if !read_only %>
		<div class="form-actions center">
			<%= f.submit class: "btn btn-primary" %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>