<div class="row form_background">
	<div class="span6 offset3">
		<%= form_for(@user, html: { class: "form-horizontal"}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field control-group">
			<%= f.label :company_id, "Company:", class: "control-label" %>
			<div class="controls">
				<% company_read_only = read_only %>
				<% if !current_user.vendor_admin? %>
				  <% company_read_only = true %>
				<% end %>
				<%= f.collection_select(:company_id, Company.all, :id, :name, {prompt: true}, readonly: company_read_only) %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :name, "Name:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :name , maxlength: 30, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :manager_id , "Manager:", class: "control-label" %>
			<div class="controls">
				<%= f.grouped_collection_select(:manager_id, Company.all, :users, :name, :id, :name, {prompt: true}, readonly: read_only) %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :email , "Email:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :email , maxlength: 40, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :user_type_id, "User Type:", class: "control-label" %>
			<div class="controls">
				<%= f.collection_select(:user_type_id, UserType.all, :id, :name, {prompt: true}, readonly: read_only) %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :password, "Password:", class: "control-label" %>
			<div class="controls">
				<%= f.password_field :password, readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :password_confirmation, "Password Confirmation:", class: "control-label" %>
			<div class="controls">
				<%= f.password_field :password_confirmation, readonly: read_only %>
			</div>
		</div>
		<br />
		<br />
		<% if !read_only %>
		<div class="form-actions center">
			<%= f.submit class: "btn btn-primary" %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>