<%= render partial: 'shared/title', locals: { title: 'Listing Users' } %>

<table id="users" class="display">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Company</th>
			<th>User type</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.company.name %></td>
			<td><%= user.user_type.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />
