<%= render partial: 'shared/title', locals: { title: 'Listing Companies' } %>

<table id="companies" class="display">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Contact Person</th>
			<th>Contact Title</th>
			<th>Contact Phone</th>
		</tr>
	</thead>

	<tbody>

		<% @companies.each do |company| %>
		<tr>
			<td><%= company.id %></td>
			<td><%= company.name %></td>
			<td><%= company.contact_person %></td>
			<td><%= company.contact_title %></td>
			<td><%= number_to_phone(company.contact_phone, area_code: true) %></td>
		</tr>
		<% end %>
</table>

<br />
