<%= form_for(@expense) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select(:user_id, User.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :submit_date %><br />
    <%= f.date_select :submit_date %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_area :purpose, :rows => 6 %>
  </div>
  <div class="field">
    <%= f.label :expense_status_id %><br />
    <%= f.collection_select(:expense_status_id, ExpenseStatus.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :advance_pay %><br />
    <%= f.text_field :advance_pay %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
