<div class="row form_background">
	<div class="span6 offset2">
		<%= form_for(@expense, html: { class: "form-horizontal"}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field control-group">
			<%= f.label :user_id, "User:", class: "control-label" %>
			<div class="controls">
				<% if current_user.vendor_admin? %>
				<%= f.collection_select(:user_id, User.all, :id, :name_with_company, {prompt: true}, {disabled: read_only}) %>
				<% else %>
				<%= f.collection_select(:user_id, User.where({company_id: current_user.company_id}), :id, :name, {prompt: true}, {disabled: read_only}) %>
				<% end %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :submit_date, "Submit Date:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :submit_date, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :purpose, "Purpose:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :purpose, maxlength: 30, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :expense_status_id, "Expense Status:", class: "control-label" %>
			<div class="controls">
				<%= f.collection_select(:expense_status_id, ExpenseStatus.all, :id, :name, {prompt: true}, {disabled: read_only}) %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :advance_pay, "Advance Pay:", class: "control-label" %>
			<div class="controls">
				<%= f.number_field :advance_pay, class: "input-large", readonly: read_only %>
			</div>
		</div>
		<% if !read_only %>
		<br />
		<div class="form-actions center">
			<%= f.submit class: "btn btn-primary" %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>
