<div class="row form_background form_alt">
	<div class="span5">
		<%= form_for(@expense, html: { class: "form-horizontal"}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field control-group">
			<%= f.label :user_id, "User:", class: "control-label" %>
			<div class="controls">
				<% user_name = User.find(f.object.user_id).name %>
				<%= text_field_tag 'user_name', user_name, readonly: true %>
				<%= f.hidden_field :user_id %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :submit_date, "Submit Date:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :submit_date, class: "input-large", readonly: true %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :purpose, "Purpose:", class: "control-label" %>
			<div class="controls">
				<%= f.text_field :purpose, maxlength: 40, class: "input-large", readonly: true %>
			</div>
		</div>
		<% end %>
	</div>
	<div class="span5">
		<%= form_for(@expense, html: { class: "form-horizontal"}) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
			<div class="field control-group">
			<%= f.label :advance_pay, "Advance Pay:", class: "control-label" %>
			<div class="controls">
				<%= f.number_field :advance_pay, class: "input-large", readonly: true %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :expense_status_id, "Expense Status:", class: "control-label" %>
			<div class="controls">
				<% expense_status_name = ExpenseStatus.find(f.object.expense_status_id).name %>
				<%= text_field_tag 'expense_status_name', expense_status_name, readonly: true %>
				<%= f.hidden_field :expense_status_id %>
			</div>
		</div>
		<div class="field control-group">
			<%= f.label :owner_id, "Owner:", class: "control-label" %>
			<div class="controls">
				<% owner_name = '' %>
				<% if f.object.owner_id? %>
					<% owner_name = User.find(f.object.owner_id).name %>
				<% end %>
				<%= text_field_tag 'owner_name', owner_name, readonly: true %>
				<%= f.hidden_field :owner_id %>
			</div>
		</div>
		<% end %>
	</div>
</div>
